
/* General styles */
body {
    font-family: 'Nunito', sans-serif;
    margin: 0px;
    padding: 0;
    background-color: #ffffff;
    
}

.separar {
    margin-top: 2%;
    display: flex;
    gap: 15px;
    width: 100vw;
  }
a{
    font-family: "Lilita One", sans-serif;
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #ff914d;

}
li{
    list-style: none;
    text-align: center;
}
li :hover{
    background-color: #d8d8d8;
  
    color: #ff914d;
}
 
  
  .columna {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    flex: 1;
  }
  button {
    justify-content: center;
    padding: 12px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-clear {
    background-color: #ff9945;
    color: white;
}
