
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #ffffff;
}
.logo{
    margin-left: 130px;
    width: 20px;
}

/* Barra de navegación */
.navbar {
    background-color: #abb8c3;
    color: #000000;
    padding: 15px;
    display: flex;
    align-items: center;
    text-align: center;
}
.navbar img{
    width: 95px;
    transition: transform 0.3s ease; 
}
.navbar img:hover {
    transform: scale(1.2); /* Aumenta el tamaño al 120% */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
   
    margin-left: 130px;
}
.nav-links li :hover{
    background-color: #cecdcd;
  
    color: hsl(34, 98%, 53%);

}

.nav-links a {
    font-family: "Lilita One", sans-serif;
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

