body {
    font-family: 'Arial', sans-serif;
   
    background-color: #f0f4f8;
    color: #333;
}

h1 {
    text-align: center;
    color: #000000;
}
.button-container {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 10px; /* Espacio entre los botones */
    margin-top: 20px;
}

button {
    align-items: center;
    
    padding: 10px 15px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #357ab8;
}

#ganttChart {
    margin-top: 20px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.gantt-chart-container {
    overflow-x: auto; /* Permitir desplazamiento horizontal */
    white-space: nowrap; /* Evitar que los elementos se envuelvan */
    border: 1px solid #ccc; /* Borde para distinguir el contenedor */
}

#timeline {
    display: flex;
    margin-top: 10px;
    position: relative;
}

.month {
    position: relative;
    display: inline-block;
    width: auto; /* Ajustar automáticamente al contenido */
    margin-right: 5px;
    background-color: #e9f5ff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.month-header {
    text-align: center;
    font-weight: bold;
    padding: 5px;
    background-color: #4a90e2;
    color: white;
    font-size: 14px;
    border-radius: 4px;
}

.day {
    display: inline-block;
    width: 30px; /* Ajustar este valor para los días */
    border-top: 1px solid #ddd;
    height: 30px; /* Altura de los días */
    text-align: center;
    position: relative;
}

.day-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: #333;
}

.gantt-row {
    display: flex;
    align-items: center; /* Centrar verticalmente */
    background-color: #ffffff;
    transition: background-color 0.3s;
    border-top: 1px solid #ddd; /* Separación entre tareas */
    position: relative;
    padding: 10px 0; /* Espaciado vertical */
}

.gantt-row:hover {
    background-color: #f9f9f9;
}

.details {
    flex: 1; /* Permitir que los detalles tomen el espacio restante */
    margin-right: 20px; /* Espaciado a la derecha */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #f9f9f9; /* Color de fondo más claro */
}

.details div {
    margin-bottom: 5px; /* Espacio entre las líneas de texto */
    font-size: 14px; /* Tamaño de fuente */
}

.details div.contenteditable {
    border: 1px dashed #ddd;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.details div.contenteditable:focus {
    background-color: #e8f4fd; /* Color al enfocar */
}

.bar {
    height: 20px;
    border-radius: 3px;
    position: absolute;
    top: 0; /* Ajustar la barra al nivel de la fila */
}

.days-container {
    display: flex;
    flex: 1;
    margin-top: 10px;
}
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed; /* Fijar el modal en la pantalla */
    z-index: 1; /* Asegura que el modal esté encima del contenido */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semitransparente */
}
.modal-content h2 {
    text-align: center;
    margin-bottom: 20px; /* Espacio debajo del título */
}

.modal-content {
    background-color: #fff;
    margin: 5% auto 0;; /* Centra el contenido */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo para los inputs y botones */
.container label,
.container input,
.container select {
    display: block;
    margin: 10px 0;
}

.container input,
.container select {
    width: 100%;
    padding: 8px;
}

button[type="submit"] {
    margin-top: 20px; /* Espacio superior al botón */
    padding: 10px 20px;
    background-color: #527ae6; /* Azul principal del botón */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #357ab8; /* Azul más oscuro para el efecto hover */
}

.separar {
    margin-top: 1%; /* Margen superior pequeño */
    display: flex; /* Usa flexbox para dividir en columnas */
    justify-content: center; /* Centra las columnas horizontalmente */
    align-items: center; /* Centra las columnas verticalmente */
}

/* Estilo de las columnas del formulario */
.columna {
    display: flex; /* Usa flexbox dentro de la columna */
    flex-direction: column; /* Elementos uno debajo del otro */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    flex: 9; /* Flexibilidad para ajustar el ancho */
}



