body {
    font-family: Arial, sans-serif; /* Fuente predeterminada */
    background-color: #f8f8f8; /* Color de fondo */
    margin: 0; /* Sin márgenes alrededor del cuerpo */
    padding: 20px; /* Espaciado interno */
}


.projects-container {
    max-width: 600px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px; /* Espaciado interno */
    background-color: white; /* Color de fondo del contenedor */
    border-radius: 8px; /* Esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor del contenedor */
}


h1 {
    text-align: center; /* Alinea el texto al centro */
    color: black; /* Color del texto */
    background-color: #bfbdd6; /* Color de fondo del encabezado */
    padding: 10px; /* Espaciado interno */
    border-radius: 8px; /* Esquinas redondeadas */
    margin-bottom: 20px; /* Margen inferior */
}

table {
    width: 100%; /* Ancho completo de la tabla */
    border-collapse: collapse; /* Colapsa los bordes de las celdas */
    margin-top: 10px; /* Margen superior */
}

.project-link {
    color: black; /* Color del texto del enlace */
    text-decoration: none; /* Sin subrayado en el enlace */
}

.project-link:hover {
    text-decoration: none; /* Sin subrayado al pasar el cursor */
    color: hsl(19, 100%, 50%); /* Color del texto al pasar el cursor */
}

thead th {
    background-color: #d4d2d5; /* Color de fondo de los encabezados de la tabla */
    color: black; /* Color del texto de los encabezados */
    padding: 10px; /* Espaciado interno en los encabezados */
    text-align: left; /* Alineación a la izquierda del texto en los encabezados */
    border-radius: 0px; /* Sin esquinas redondeadas */
}

tbody td {
    padding: 15px; /* Espaciado interno en las celdas del cuerpo */
    color: black; /* Color del texto en las celdas */
}

tr:not(:last-child) {
    border-bottom: 1px solid #ddd; /* Borde inferior entre filas, excepto la última */
}

.status-dot {
    height: 10px; /* Altura del indicador de estado */
    width: 10px; /* Ancho del indicador de estado */
    border-radius: 50%; /* Forma circular */
    display: inline-block; /* Muestra como bloque en línea */
    margin-right: 10px; /* Margen derecho */
}

.green {
    background-color: green; /* Color verde para el estado activo */
}

.orange {
    background-color: orange; /* Color naranja para el estado inactivo */
}

.delete-btn {
    background: none; /* Sin fondo para el botón */
    border: none; /* Sin borde */
    cursor: pointer; /* Cursor tipo puntero al pasar sobre el botón */
}

.delete-btn img {
    width: 20px; /* Ancho de la imagen del botón */
    height: 20px; /* Altura de la imagen del botón */
}

.delete-btn:hover img {
    filter: brightness(0.7); /* Reduce el brillo de la imagen al pasar el cursor */
}

