<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/detalles_modal.css">
    <title>Document</title>
    
</head>
<body>
    <div id="myModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Detalles del Registro</h2>
            <div class="modal-details">
                <div class="detail-item">
                    <strong>Nombre:</strong> <span id="modalNombre"></span>
                </div>
                <div class="detail-item">
                    <strong>Rol:</strong> <span id="modalRol"></span>
                </div>
                <div class="detail-item">
                    <strong>Usuario:</strong> <span id="modalUsuario"></span>
                </div>
                <div class="detail-item">
                    <strong>Teléfono:</strong> <span id="modalTelefono"></span>
                </div>
                <div class="detail-item">
                    <strong>Correo:</strong> <span id="modalCorreo"></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>