<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagrama de Gantt</title>
    <link rel="stylesheet" href="/static/diagramaDeGantt.css">
    <!-- Agregar la librería SheetJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.6/xlsx.full.min.js"></script>
    <!-- Agregar la librería jsPDF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
</head>
<body>
    <h1>Diagrama de Gantt - Proyecto {{ proyecto }}</h1>
    <div class="container">
        <div class="form-group">
            <label for="nombre">Nombre del encargado</label>
            <input type="text" id="nombre" placeholder="Nombre del encargado" required><br>

            <label for="fechaInicio">Fecha de inicio</label>
            <input type="date" id="fechaInicio" required><br>

            <label for="fechaFin">Fecha de fin</label>
            <input type="date" id="fechaFin" required><br>

            <label for="porcentaje">% de tarea</label>
            <input type="number" id="porcentaje" placeholder="% de tarea" min="0" max="100" required><br>

            <button id="agregarBtn">Agregar Tarea</button>
        </div>
    </div>

    <div class="gantt-chart-container">
        <div class="gantt-header">
            <div>Nombre</div>
            <div>Inicio</div>
            <div>Fin</div>
            <div>% Completado</div>
        </div>
        <div id="tareas"></div>
        <div id="timeline"></div>
    </div>

    <!-- Botón para exportar a Excel -->
    <button id="exportarBtn">Exportar a Excel</button>

    <!-- Botón para exportar a PDF -->
    <button id="exportarPdfBtn">Exportar a PDF</button>

    <script src="diagramaDeGantt.js"></script>
</body>
</html>
