<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/Gestióntareas.css">
    <link rel="stylesheet" href="Empleados.js">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <section class="content">
        <h2>GESTIÓN DE TAREAS</h2>
        <table>
            <thead>
                <tr>
                    <th>Tarea</th>
                    <th>Proyecto</th>
                    <th>Fecha de inicio</th>
                    <th>Fecha de finalización</th>
                    <th>Encargado</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for tarea in tareas %}
                <tr>
                    <td>{{ tarea.nombre }}</td>
                    <td>{{ tarea.proyecto }}</td>
                    <td>{{ tarea.fecha_inicio.strftime('%d/%m/%Y') }}</td>
                    <td>{{ tarea.fecha_fin.strftime('%d/%m/%Y') }}</td>
                    <td><span class="user user{{ tarea.encargado }}"></span> {{ tarea.encargado }}</td>
                    <td><span class="status {{ tarea.estado | lower }}"></span> {{ tarea.estado }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</body>
</html>