<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/Gestióntareas.css">
    <link rel="stylesheet" href="Empleados.js">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <section class="content">
        <h2>GESTIÓN DE TAREAS</h2>
        <table>
            <thead>
                <tr>
                    <th>Tarea</th>
                    <th>Proyecto</th>
                    <th>Fecha de inicio</th>
                    <th>Fecha de finalización</th>
                    <th>Encargado</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Números</td>
                    <td>Balance</td>
                    <td>7/8/2024</td>
                    <td>30/8/2024</td>
                    <td><span class="user user2"></span> Usuario 2</td>
                    <td><span class="status avanzado"></span> Avanzado</td>
                </tr>
                <tr>
                    <td>Prototipo</td>
                    <td>Prototipo</td>
                    <td>7/8/2024</td>
                    <td>22/9/2024</td>
                    <td><span class="user user1"></span> Usuario 1</td>
                    <td><span class="status listo"></span> Listo</td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>