<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Inicio de Sesión</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <div class="login-container">
        <h2>BIENVENIDOS</h2>
        <form action="/login" method="POST">  <!-- Cambia aquí para enviar el formulario directamente -->
            <div class="input-container">
                <label for="username">Usuario</label>
                <div class="input-with-icon">
                    <input type="text" id="username" name="usuario" placeholder="Usuario" required>
                </div>
                <p class="error-message" id="usernameError">Usuario incorrecto</p>
            </div>
            <div class="input-container">
                <label for="password">Contraseña</label>
                <div class="input-with-icon">
                    <input type="password" id="password" name="password" placeholder="Contraseña" required>
                    <i class="fa fa-lock"></i>
                </div>
                <p class="error-message" id="passwordError">Contraseña incorrecta</p>
            </div>
            <button type="submit">INGRESAR</button>
        </form>
    </div>
    
    
</body>
</html>
