<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/menuAdmin.css">
</head>
<body>

  <div class="carrusel">
    <h1 style="text-align: center;">BIENVENIDOS</h1>
    <div class="imagenes">
      <div class="slide">
        <img src="/static/imagenes/Usuarios.png" alt="Imagen 1">
        <p style="text-align: center;">Gestión usuarios</p>
      </div>
      <div class="slide">
        <img src="/static/imagenes/tareas.png" alt="Imagen 2">
        <p style="text-align: center;">Gestión de tareas</p>
      </div>
      <div class="slide">
        <img src="/static/imagenes/En_proceso.png" width="20px" alt="Imagen 3">
        <p style="text-align: center;"> Diagrama Gantt</p>
      </div>
    </div>
  </div>


    <div class="separar">
        <div class="columna">
          <img style="width: 40%;" src="/static/imagenes/logo 2.jpeg" alt="">
            </div></p>
        <div class="columna">
          
            <h4> Un diagrama de Gantt es una herramienta gráfica utilizada en la gestión de proyectos para planificar y visualizar el progreso de tareas a lo largo del tiempo. <br></h4>  
            <section class="buttons">
            <div class="container">
              <div >
              </div>
              <a class="btnfos btnfos-2" target="central"href="{{ url_for('proyectos') }}">Diagrama de Gantt</a> 
            </div>
        </div>
        </section>
        </div>
        <div class="separar">
            <div class="columna">
              
                <h4>La gestión de tareas es el proceso de organizar, asignar, supervisar y realizar un seguimiento de actividades específicas dentro de un proyecto, con el objetivo de cumplir plazos y asegurar la eficiencia en el trabajo. <br></h4>  
                <section class="buttons">
                <div class="container">
                  <div >
                  </div>
                  <a class="btnfos btnfos-2" target="central" href="{{ url_for('Gtareas') }}" >Gestión de tareas</a> 
                </div>
            </section>
              
            
              </div>
              <div class="columna">
                <img src="/static/imagenes/tareas.png" alt="" width="90%">
                </div></p>
            </div>


            
</body>
</html>