<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/Perfil.css">
</head>
<body>
    <h1>EDITAR PERFIL</h1>
    <div class="profile-container"> <!-- Contenedor para las tarjetas -->
        <div class="profile-card">
            <div class="profile-left">
                <form method="post" action="#" enctype="multipart/form-data">
                    <div>
                        <img src="/imagenes/logo 1.jpeg" alt="avatar" id="img" />
                        <input type="file" name="foto" id="foto" accept="image/*" />
                        <label for="foto">Cambiar foto</label>
                    </div>
                </form>
            </div>
            <div class="profile-right">
                <h2>{{ datos.usuario }}</h2>
                <div><i class="fas fa-envelope"></i> Correo electrónico: {{ datos.correo }}</div>
                <div class="admin-badge">Rol: {{ datos.rol }}</div>
    
                <!-- Formulario para cambiar la contraseña -->
                <form action="{{ url_for('cambiar_contrasena') }}" method="POST">
                    <input type="hidden" name="usuario" value="{{ datos['usuario'] }}">  <!-- Nombre de usuario del token -->

                    <label>Contraseña Actual:</label>
                    <input type="password" name="contrasena_actual" required><br>
                
                    <label>Nueva Contraseña:</label>
                    <input type="password" name="nueva_contrasena" required><br>
                
                    <label>Confirmar Nueva Contraseña:</label>
                    <input type="password" name="confirmar_contrasena" required>
                
                    <button type="submit">Cambiar Contraseña</button>
                </form>
                
            </div>
        </div>
    </div>
    
    
   <center>
        <form action="{{ url_for('logout') }}" method="post" style="display: inline;">
            <button type="submit">Cerrar sesión</button>
        </form>
    </center>
    
    


</body>
<script src="/Empleados.js"></script>
</html>
