<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Proyectos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/Gestión_proyectos.css"> 
</head>
<body>
    <div class="user-management-container">
    <h1>PROYECTOS</h1>

   
    <div id="modalForm" class="modal">
        <div class="modal-content">
            <span class="close" onclick="cerrarModal()">&times;</span>
            <h2>Añadir Proyecto</h2>
            <form action="{{ url_for('agregar_proyecto') }}" method="POST">
                <label for="nombre">Nombre del Proyecto:</label>
                <input type="text" name="nombre" id="nombre" required> <br>
                
                <label for="encargado">Encargado:</label>
                <select name="encargado" id="encargado" required>
                    <option value="" disabled selected>Selecciona un encargado</option>
                    {% for id, nombre in encargados_dict.items() %}
                        <option value="{{ id }}">{{ nombre }}</option>
                    {% endfor %}
                </select>
</select> 
                <br>
                
                <button type="submit">Añadir Proyecto</button>
            </form>
        </div>
    </div>
    

    <!-- Tabla para listar los proyectos -->
    <table>
        <thead>
            <tr>
                <th><i class="fa fa-file-alt"> </i> Nombre</th>
                <th><i class="fa fa-user">  </i> Encargado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for proyecto in proyectos %}
            <tr>
                <td>{{ proyecto.nombre }}</td>
                <td>{{ encargados_dict[proyecto.encargado] }}</td> 
                <td>
                    <div class="icon-container">
                        <a href="{{ url_for('Gantt', nombre_proyecto=proyecto.nombre) }}" class="icon-link">
                            <i class="fa fa-sign-in icon-large" style="color: blue;"></i>
                        </a>
                        
                        
                        {% if rol in ['super_administrador', 'administrador'] %}
                            <a href="{{ url_for('editar_proyecto', id=proyecto.id) }}" class="icon-link">
                                <i class="fa fa-edit icon-large" style="color: darkgreen;"></i>
                            </a> 
                            <form action="{{ url_for('eliminar_proyecto', id=proyecto.id) }}" class="icon-link" method="POST" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este proyecto?');">
                                <button type="submit" style="background: none; border: none;">
                                    <i class="fa fa-trash icon-large" style="color: rgb(153, 8, 8);"></i>
                                </button>
                            </form>
                        {% endif %}

                    </div>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if rol == 'super_administrador' %}
        <div class="Ingreso">
            <a href="#" onclick="abrirModal()">+ Añadir Proyecto</a>
        </div>
    {% endif %}
</div>

    
    <script>
        function abrirModal() {
            document.getElementById('modalForm').style.display = 'block';
        }

        function cerrarModal() {
            document.getElementById('modalForm').style.display = 'none';
        }
    </script>
</body>
</html>

<style>
    .icon-container {
display: flex;
justify-content: flex-start;  /* Mantiene los íconos alineados a la izquierda dentro del contenedor */
align-items: center;
margin-left: auto; /* Empuja el contenedor hacia la derecha */
padding-left: 95px; /* Ajusta esta cantidad para mover los íconos hacia la izquierda o derecha desde el borde derecho */
}

.icon-link {
text-decoration: none;
margin-left: 10px; /* Espacio entre los íconos */
}

.icon-large {
font-size: 24px;
}

</style>



   