<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/tAdmin.css">
    <link href="https://fonts.adobe.com/fonts/graduate#fonts-section" rel="stylesheet">
</head>
<body>
    <!-- Barra de navegación -->
    <nav class="navbar">
        <a href="./Perfil.html" target="central">
            <img src="/static/imagenes/image (1).png" alt="Menú" width="50">
        </a>

        <ul class="nav-links">
            <li><a href="./menuAdmin.html" target="central">Menú</a></li>
            <li><a href="./Gestión usuarios.html" target="central">Gestión usuarios</a></li>           
        </ul>
        <a href="https://www.navasoftsoluciones.com" target="_blank">
            <div class="logo"><img src="/static/imagenes/image.png" alt=""></div>
        </a>
        
        <ul class="nav-links">
            <li><a href="./Gestióntareas.html"  target="central">Gestión tareas</a></li>
            <li><a href="./proyectos.html"target="central">Diagrama de Gantt</a></li>
        </ul>   
    </nav> 
</body>
</html>