<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/templeado.css">
    <link href="./AvertaDemoPE-ExtraboldItalic.otf" rel="stylesheet">

</head>
<body>

<body>
    <!-- Barra de navegación -->
    <nav class="navbar">
        <a href="{{ url_for('perfil') }}" target="central">
            <img src="{{ url_for('static', filename='imagenes/image (1).png') }}" alt="Menú" width="50">
        </a>
        <ul class="nav-links">
            <li><a href="{{ url_for('Empleado') }}" target="central">Menú</a></li>
            <li><a href="{{ url_for('Gtareas') }}" target="central">Gestión tareas</a></li>
            <li><a href="{{ url_for('proyectos') }}" target="central">Diagrama de Gantt</a></li>
           
        </ul>
        <a href="https://www.navasoftsoluciones.com" target="_blank">
            <div class="logo"><img src="/static/imagenes/image.png" alt=""></div>
        </a>
        
    </nav>

    

</body>
</html>
